.player {
  --base-font: calc((var(--base) * 15 / 100) / 4);
  /*width: 190px;*/
  height: 100%;
  /*margin-bottom: var(--base-font);
  padding: var(--base-font);*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #73d1ee;
  transition: all 0.5s ease;
  border-radius: 7px;
  background-color: #100738;
  font-size: calc(var(--base-font) / 2);
}

.player:not(:last-child) {
  margin-right: 25px;
}

.player--active{
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #73d1ee; 
}

.player__score {
  text-align: center;
}

.player__name {
  color: #73d1ee;
  font-size: calc(var(--base-font));
  font-weight: bold;
}