*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(14, 14, 14);
    color: white;
    background-image: url('./assets/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    --base: 1px;
    font-size: calc(var(--base) * 16);
}

.btn {
    border: 1px solid transparent;
    vertical-align: middle;
    cursor: pointer;
  }

.row {
    display: flex;
}

.letter {
    position: relative;
    width: calc(var(--base) * 60);/*60px*/
    height: calc(var(--base) * 60);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: calc(var(--base) * 34);
    font-weight: bold;
    color: #ccc;
    cursor: default;
    margin: calc(var(--base) * 5);
    transform: scale(1, 1);
    transition-duration: 1s;
    transition-property: transform;
    border: 1px solid #be37f3;
    border-radius: calc(var(--base) * 5);
    box-shadow: 0px 0px 5px #8904bd;
    /* background-color:rgb(14, 14, 14); */
    background-color: #0c0626;
}

.letter_selected {
    color: #0c0;
    border: 1px solid #0c0;
    box-shadow: 0px 0px 5px #0c0;
}

.letter_hide {
    transform: scale(0, 0);
}

.crystal {
    position: absolute;
    top: 0;
    left: calc(var(--base) * -6);
    width: calc(var(--base) * 30);
    height: calc(var(--base) * 40);
    background-image: url('../src/assets/crystal.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.user-edit-popup-close{
    animation: user-edit-popup-hide 1s forwards;
}

@keyframes user-edit-popup-hide{
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(0, 0);
    }
}