*{
    box-sizing: border-box;
}

body {
    background: rgb(14, 14, 14);
    color: white;
}

.row {
    display: flex;
}

.letter {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #600;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: #ccc;
    cursor: default;
    margin: 5px;
    transform: scale(1, 1);
    transition-duration: 1s;
}

.letter_selected {
    color: #0c0;
}

.letter_hide {
    transform: scale(0, 0);
}

.crystal {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    border: 1px solid #60f;
}

.player_active{
    background-color: #fff3;
}