.lobby {
  width: 100%;
  height: 100vh;
}

.lobby__wrapper {
  /*width: calc(var(--base) * 950);*/
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lobby__center-container {
  width: 100%;
  margin: 0 auto;  
}

.lobby__buttons-wrapper {
  /*width: 60%;*/
  max-width: calc(var(--base) * 760);
  margin: 0 auto;
  padding: calc(var(--base) * 15) calc(var(--base) * 10); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(229 222 236 / 37%);
  border-radius: calc(var(--base) * 10);
}

.lobby__button {
  position: relative;
  width: calc(var(--base) * 250);
  height: calc(var(--base) * 45);
  margin: calc(var(--base) * 15);
  padding: calc(var(--base) * 10) calc(var(--base) * 5);
  font-size: calc(var(--base) * 20);
  color: #fff;
  border-radius: calc(var(--base) * 7);
  transition: all 0.5s;
  overflow: hidden;
}

.lobby__button:before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--base) * 20);
  position: absolute;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.5s;
  filter: blur(8px);
  background: linear-gradient(to left, transparent 0%, #fff 40%, #fff 60%, transparent 100%);
}

.lobby__button:hover:before {
  transform: translateX(100%) rotate(45deg);
}

.lobby__button--create,
.lobby__button--single-bot,
.lobby__button--single-local {
  border-top: #40c9f3;
  background: linear-gradient(to bottom, #40c9f3 0%, #0d718f 100%);
  border-bottom: 1px solid #0d718f;
}

.lobby__button--get,
.lobby__button--single,
.lobby__button--multi {
  border-top: #f54b20;
  background: linear-gradient(to bottom, #f54b20 0%, #d12c03 100%);
  border-bottom: 1px solid #d12c03;
}

.lobby__button--join {
  border-top: #49e43b;
  background: linear-gradient(to bottom, #3be43b 0%, #087508 100%);
  border-bottom: 1px solid #087508;
}

.lobby__label {
  font-size: calc(var(--base) * 18);
  color: #efe5fa;
}

.lobby__label--room-name {
  margin-bottom: calc(var(--base) * 10);
}

.lobby__input {
  width: calc(var(--base) * 250);
  outline: none;
  padding: calc(var(--base) * 10);
  border-radius: 3px;  
  font-size: calc(var(--base) * 20); 
  transition: all 0.3s ease;
}

.lobby__input--room-name {
  color: #45078b;
  background-color: #efe5fa;
  border: 1px solid #832de6;
}

.lobby__input--room-name:focus { 
  box-shadow: 0px 0px 10px #832de6;
}

