.words-lang {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: calc(var(--base) * 15);  
  margin-bottom: calc(var(--base) * 20);
  background: linear-gradient(to bottom, #73d1ee 0%, #6917c7 100%);
  border: 1px solid #73d1ee;
  border-radius: calc(var(--base) * 5);
  box-shadow: 0px 0px 5px #73d1ee; 
}

.words-lang__title {
  font-size: calc(var(--base) * 24);
  margin-bottom: calc(var(--base) * 10);
}

.words-lang__container {
  width: 70%;
  position: relative;
  text-align: center;
}

.words-lang__lang {
  text-transform: uppercase;
  font-size: calc(var(--base) * 26);
  font-weight: bold;
  color: #40c9f3;
}

.words-lang__buttons {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.words-lang__button {
  position: absolute;
  width: calc(var(--base) * 45);
  min-height: calc(var(--base) * 30);
  font-size: 0;  
  background-color: transparent;
  transition: all 0.3s ease;
}

.words-lang__button--left {
  top: calc(var(--base) * -30);
  left: 0;
}

.words-lang__button--right {
  top: calc(var(--base) * -30);
  right: 0;
}

.words-lang__button--left::before,
.words-lang__button--right::before {
  content: "";
  position: absolute;
  cursor: pointer;
  top: 0;  
  width: calc(var(--base) * 45);
  height: calc(var(--base) * 30); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(var(--base) * 15) calc(var(--base) * 23);
  transition: all 0.3s ease; 
}

.words-lang__button--left::before {
  left: 0;
  background-image: url('../../assets/arrow-left.svg');
}

.words-lang__button--right::before { 
  right: 0; 
  background-image: url('../../assets/arrow-right.svg'); 
}